---
import { getCollection } from 'astro:content'
import Header from '../components/header.astro'
import Footer from '../components/footer.astro'
import parse from 'date-fns/parse/index.js'
import isBefore from 'date-fns/isBefore/index.js'
import isAfter from 'date-fns/isAfter/index.js'
const { title } = Astro.props
const articles = await getCollection('articles')
const books = await getCollection('books')
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>{title}</title>
    </head>
    <body class="font-mono">
        <div class="container mx-auto px-4 sm:px-6 lg:px-8 h-screen flex flex-col max-w-screen-xl">
            <Header />
            <main class="flex-1">
                <h1 class="text-2xl font-bold text-left">{title}</h1>
                <div class="grid grid-cols-1 md:grid-cols-5 gap-3">
                    <nav class="pl-2 text-right col-span-1 md:order-last">
                        <ul>
                            <li>
                                <a
                                    href="/"
                                    class="text-blue-500 underline hover:no-underline hover:text-blue-400"
                                    >Home</a
                                >
                            </li>
                            <li>
                                <a
                                    href="/podcasts"
                                    class="text-blue-500 underline hover:no-underline hover:text-blue-400"
                                    >Podcasts</a
                                >
                            </li>
                            <li>
                                <a
                                    href="/uses"
                                    class="text-blue-500 underline hover:no-underline hover:text-blue-400"
                                    >Uses</a
                                >
                            </li>
                        </ul>
                        <div class="w-full text-right text-gray-200 font-sm my-4">- &#9702; -</div>
                        <h3 class="text-lg font-bold text-right">Articles</h3>
                        <ul>
                            {
                                articles
                                    .sort((a, b) => {
                                        const d1 = parse(a.data.date, 'yyyy-MM-dd', new Date())
                                        const d2 = parse(b.data.date, 'yyyy-MM-dd', new Date())
                                        if (isBefore(d1, d2)) return 1
                                        if (isAfter(d1, d2)) return -1
                                        return 0
                                    })
                                    .map((article) => (
                                        <li class="border-b-1 border-slate-100 border-b-solid py-1">
                                            <a
                                                href={`/${article.slug}`}
                                                class="text-blue-500 underline hover:no-underline hover:text-blue-400"
                                            >
                                                {article.data.title}
                                            </a>
                                        </li>
                                    ))
                            }
                        </ul>
                        <div class="w-full text-right text-gray-200 font-sm my-4">- &#9702; -</div>
                        <h3 class="text-lg font-bold text-right">Reading Lists</h3>
                        <ul>
                            {
                                books
                                    .sort((a, b) => {
                                        const d1 = +a.data.year
                                        const d2 = +b.data.year
                                        return d1 - d2
                                    })
                                    .map((book) => (
                                        <li class="border-b-1 border-slate-100 border-b-solid py-1">
                                            <a
                                                href={`/${book.slug}`}
                                                class="text-blue-500 underline hover:no-underline hover:text-blue-400"
                                            >
                                                {book.data.year}
                                            </a>
                                        </li>
                                    ))
                            }
                        </ul>
                        <div class="w-full text-right text-gray-200 font-sm my-4">- &#9702; -</div>
                        <h3 class="text-lg font-bold text-right">Apps</h3>
                        <ul>
                            <li class="border-b-1 border-slate-100 border-b-solid py-1">
                                <a
                                    href="https://words.vincentramdhanie.com"
                                    class="text-blue-500 underline hover:no-underline hover:text-blue-400"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                >
                                    Word Assist
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="col-span-1 md:col-span-4">
                        <slot />
                    </div>
                </div>
            </main>
            <Footer />
        </div>
    </body>
</html>
