---
import { getCollection } from 'astro:content'
import Header from '../components/header.astro'
import Footer from '../components/footer.astro'
const { title } = Astro.props
const articles = await getCollection('articles')
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>{title}</title>
    </head>
    <body class="font-mono">
        <div class="container mx-auto px-4 sm:px-6 lg:px-8 h-screen flex flex-col">
            <Header />
            <main class="flex-1">
                <h1 class="text-2xl font-bold text-left">{title}</h1>
                <div class="grid grid-cols-1 md:grid-cols-5 gap-3">
                    <nav class="pl-2 text-right col-span-1 md:order-last">
                        <ul>
                            <li>
                                <a
                                    href="/"
                                    class="text-blue-500 underline hover:no-underline hover:text-blue-400"
                                    >Home</a
                                >
                            </li>
                            <li>
                                <a
                                    href="/uses"
                                    class="text-blue-500 underline hover:no-underline hover:text-blue-400"
                                    >Uses</a
                                >
                            </li>
                        </ul>
                        <ul>
                            {
                                articles.map((article) => (
                                    <li>
                                        <a
                                            href={article.slug}
                                            class="text-blue-500 underline hover:no-underline hover:text-blue-400"
                                        >
                                            {article.data.title}
                                        </a>
                                    </li>
                                ))
                            }
                        </ul>
                    </nav>
                    <div class="col-span-1 md:col-span-4">
                        <slot />
                    </div>
                </div>
            </main>
            <Footer />
        </div>
    </body>
</html>
